body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#mainContent {
    transition: margin-left .5s; /* Ajusta la duración según prefieras */
}


.header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 500; /* Menor z-index que el navbar */
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    opacity: 0.9;
}

.navbar-icon i {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.header-title {
    color: white;
    font-size: 50px;
    margin: 0;
    opacity: 1;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7); /* Mejora la visibilidad del texto */
    cursor: pointer;
}

.logo img {
    width: auto;
    max-width: 150px;
    height: auto;
    transition: 0.5s ;
    object-fit: cover;
    cursor: pointer;
}
.logo img:hover{
    transform: scale(1.2);
}

.side-navbar {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s ease, opacity 0.5s ease; /* Suaviza la aparición */
    padding-top: 60px;
    opacity: 0; /* Inicia invisible */
}

.side-navbar a {
   
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7); /* Mejora la visibilidad del texto */
}

.navbar-icon i:hover {
    color: #6100fd;
}
.header-title:hover{
    color: #5e00f5;
}

.side-navbar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size:contain;
    filter: grayscale(60%);
    opacity: 0.3;
    width: max-content;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}

.content {
    margin-top: 0;
    margin-right: 0;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7); /* Mejora la visibilidad del texto */
}
