body {
    transition: background-color 5s ease; /* Transición para el color de fondo */
}

h1 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #007bff; /* Color del enlace */
    transition: color 5s ease; /* Transición para el color del enlace */
}

a:hover {
    color: #0056b3; /* Nuevo color del enlace al pasar el ratón */
}
