body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.atropos-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Estilo para el botón en el centro */

 .center-button {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    padding: 18px 20px;
    border-radius: 30%;
    background-color: #ffffff;
    color: rgba(8, 110, 243, 0.575);
    border:rgb(255, 255, 255) 3px;
    cursor: pointer;
    z-index: 1; /* Ajusta según sea necesario */
    font-size: 20px;
}
.center-button:hover{
    background-color: #82c5f1;
}
.center-button:hover + .text-over-2{
    color: rgb(255, 255, 255);
    padding: 50px 50px;
    display: block;
    transition: opacity 0.6s ease;
    opacity: 1;
   
}

.filtered-image {
    filter: grayscale(100%); /* Inicia en blanco y negro */
    transition: all 0.3; /* Transición suave de 0.5 segundos */
}




.text-over {
    padding: 30px 30px;
    position: absolute;
    bottom: 90px;
    left: 30px;
    color: white;
    font-weight: bold;
    font-size: 180%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-over-2 {
    opacity: 0;
    display: none;
    position: absolute;
    bottom: 60px;
    left: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 180%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

@media (max-width: 960px) {
    .content {
        padding: 0 3;
    }
}
