body {
    margin: 0;
    overflow-x: hidden;
    background-image: url('Archivos/IMG/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.atropos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    height: 100vh;
    

}

.atropos-inner {
  
    width: 100%;
    max-width: 1200px;
    margin: auto;
}   
/*estilo para los textos*/
.text-over {
    padding: 15px;
    position: absolute;
    bottom: 90px;
    left: 30px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: scrolling 10s linear infinite;
    width: 100%;
}
@keyframes scrolling {
    0%{transform: translateY(-100%);}
    100%{transform: translateY(100%);}
    
}

.text-over-2 {
    opacity: 1;
    display: none;
    position: absolute;
    bottom: 60px;
    left: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 180%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 6;
    
}

/* Estilo para el botón en el centro */

 .center-button {
    width: 200px;
    position: relative;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 30%;
    background-color: #ffffff;
    color: rgba(8, 110, 243, 0.575);
    border:rgb(255, 255, 255) 3px;
    cursor: pointer;
    z-index: 1; /* Ajusta según sea necesario */
    font-size: 1.5rem;
    display: flex;
    padding: 15px 30px;
    margin: 20px ;

}
/*Empezarcon la imagen del robot en gris*/
.filtered-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    filter: grayscale(100%); /* Inicia en blanco y negro */
    transition: all 0.3; /* Transición suave de 0.5 segundos */
}
.image-robot{
    width:30%;
    position:absolute;
    top:0;
    bottom:0;
    transition: all 0.3;
    z-index: 0;
}
.textos{
    width:30%;
    position:absolute;
    top:0;
    bottom:0;
    z-index: 1;
}
.boton-Principal{
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
    z-index: 2;
}

/* animaciones y efectos a partir del boton*/

.center-button:hover ~ .atropos-container.text-over-2{
    color: rgb(255, 255, 255);
    padding: 50px 50px;
    display: block;
    transition: opacity 0.6s ease;
    opacity: 1;
   
}
.center-button:hover ~ .atropos-inner .filtered-image {
    filter: grayscale(0%);
    transition: all 0.3s ease; /* Ajusta según sea necesario */
}
.center-button:hover ~ .atropos-inner .text-over{
    opacity: 0;
}

@media (max-width: 768px) {
    .text-over {
        font-size: 1rem; /* Tamaño de texto más pequeño para dispositivos móviles */
    }
    .center-button {
        width: auto; /* Permitir que el botón ajuste su ancho */
        padding: 10px 20px; /* Padding más pequeño para pantallas pequeñas */
        font-size: 1.2rem; /* Tamaño de fuente más pequeño para móviles */
    }
}


